body {
    font-family: 'Arial', sans-serif;
  }
  
  .game-card {
    width: 250px;
    background-color: #1f2937; /* Tailwind's gray-800 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .game-card:hover {
    transform: scale(1.05);
  }
  
  .game-info h2 {
    color: #fff;
  }
  
  .game-info p {
    color: #d1d5db; /* Tailwind's gray-300 */
  }
  